.article-dual-column {
  color: #56585b;
  background-color: #fff;
  text-decoration: none!Important;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-dual-column .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-dual-column .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  font-family: 'Brutal Type';
  margin-top: 25px;
}

.article-dual-column .intro p {
  color: #929292;
  font-size: 12px;
}

.article-dual-column .intro p .by {
  font-style: italic;
}

.article-dual-column .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-dual-column .intro p a {
  color: #e35050;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-dual-column .intro img {
  margin-top: 25px;
}

.article-dual-column .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-dual-column .text p {
    font-size: 16px;
    font-family: 'Brutal Type';
  }
}

.article-dual-column .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #e35050;
}

@media (min-width:768px) {
  .article-dual-column .text h2 {
    font-size: 20px;
  }
}

.article-dual-column .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-dual-column .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

@media (max-width:767px) {
  .article-dual-column .toc {
    border: 1px solid #d3d3d3;
    padding: 20px 0 15px;
    margin-bottom: 20px;
    border-width: 1px 0;
  }
}

.article-dual-column .toc p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.article-dual-column .toc ul {
  padding-left: 20px;
  font-size: 13px;
  margin-bottom: 0;
}

.article-dual-column .toc li {
  padding: 2px 0;
}

.article-dual-column .toc a {
  color: inherit;
}

#xyz {
  font-size: 12px;
  font-family: 'Brutal Type';
}

.nav-tabs .nav-link {
  border-radius: 0!important;
  border: none!important;
}

.modal {
  background: #242424;
}

.modal {
  /*background: #242424!important;*/
  /*--bs-modal-color: #242424;*/
  --modal-content-bg: #242424;
  /*--bs-bg-modal: #242424!important;*/
}

.modal-header {
}

.tooltip {
  font-family: 'Brutal Type';
}

.placeholder {
  border-radius: 3px;
}

#vfx .btn {
  background: #060606;
  border-right: dotted 1px rgba(99,99,99,0.54);
  border-top: none;
  /*border: none;*/
  text-align: center;
}

#social .btn {
  background: transparent!important;
}

.card-body {
  outline: none!important;
  border: none!important;
  border-top-left-radius: 8px;
  background: rgb(24,24,24)!important;
  border-top-right-radius: 8px;
}

:root {
  --bs-cyan: #383838!important;
}

html .card .btn {
  background: red;
}

html body .mix .btn {
  background: red;
}

.mix .btn {
  background: #272727!important;
}

.card-body:hover {
  background: white;
}

.card-title {
  user-select: none;
}

:root {
  --bs-white: #8f8f8f;
}

div {
}

#gnav .container-fluid {
  /*flex-direction: column;*/
}

.photos .item .d-block:hover {
  opacity: 100%;
  /*filter: grayscale(0);*/
}

#filter .nav-item {
  border-bottom: dotted 1px #363636;
  font-size: 12px;
}

#filter a {
  color: #838383;
}

#vfx .active {
  background: #1a1a1a;
}

h4 {
  font-family: 'Inter Tight';
}

#vfx .btn {
  font-family: 'Inter'!important;
}

