@font-face {
	font-family: 'diablo';
	src: url(../../assets/fonts/ExocetBlizzardMixedCaps-Medium.woff2) format('woff2'),
	url(../../assets/fonts/ExocetBlizzardMixedCaps-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}