.photo-gallery {
  color: #313437;
  /*background-color: #fff;*/
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.btn:hover {
  color: white!important;
  background: var(--bs-gray-dark)!important;
}

#navcol-2 .nav-link {
  font-size: 0.8em!important;
  padding-left: 12px;
  padding-right: 12px;
  border-right: dotted 1px rgb(72,72,72);
}

.mixer .btn {
  font-family: 'Brutal Type';
  border-bottom-left-radius: 3px!Important;
  border-bottom-right-radius: 3px!important;
}

.shadow {
  box-shadow: inset 0px 0px 20px var(--bs-gray-900)!important;
}

.dropdown-menu {
  /*z-index: 999999999999999999999!important;*/
}

.navbar {
}

.tools .mix {
  width: 100%;
  display: table-row;
}

.modal {
  --bs-modal-bg: #212121!important;
}

.btn-close {
  color: grey!important;
}

.modal {
  --bs-modal-color: #343434;
}

#baguetteBox-overlay .full-image figcaption {
  font-family: 'Brutal Type'!important;
}

.modal p {
  color: #b0b0b0;
}

hr {
  /*padding-top: 24px;*/
  padding-bottom: 25px;
}

iframe {
  padding-top: 36px;
}

.placer {
  cursor: pointer;
}

p {
  user-select: none;
}

h1, h2, h3 {
  user-select: none;
}

