body {
  padding: 128px;
}

img {
}

.top {
  position: fixed;
  right: 5%;
  bottom: 10%;
  opacity: 50%;
}

code {
  word-break: break-word;
  white-space: pre-wrap;
}

pre {
  background-color: #3e3e3e!important;
}

code {
  background-color: transparent!important;
}

h2 {
  padding-top: 64px;
}

body {
  width: 85%;
  padding-left: 40px;
  /*padding-right: 512px;*/
}

#toast-1 {
  position: fixed;
  display: block!important;
  right: 0;
  visibility: visible!important;
  width: 250px;
  bottom: 0;
}

